.resultsBody {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center
}

.resultsBody-right {
    max-width: 50%;
}

.resultsEntry {
    max-width: 50%;
}

.resultsButtons {
    display: flex;
}

.resultsEntry-edit{
    width: 80%;
    display: flex;
    align-items: center
}

.resultsEntry-body{
    width: 80%;
}

.editTextarea {
    min-height: 200px
}


