.resultsBody {
    display: flex;
    align-items: center;
    flex-direction: column
} 

.resultsContainer {
    display: flex;
    justify-content: center
}

.resultsEntry {
    min-width: inherit !important;
}

.entryRow {
    display: flex;
    justify-content: center !important;
    min-width: 90% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.resultsEntry-edit{
    min-width: 100%;
    display: flex;
    align-items: center
}



.editTextarea {
    min-height: 200px;
    min-width: 400px
}



.buttonGroup-results{
    padding: .75rem !important;
    display: flex;
    justify-content: center;
    font-family: "Lobster", cursive;
}

.resultsCard {
    min-width: 90% !important;
}

.editForm-group {
    min-width: 100% !important;
}

.editForm-results {
    display: flex;
    min-width: 100%;
    flex-flow: column nowrap;
    align-items: center
}

.subTitle {
    font-family: "Lobster", cursive;
    font-size: 2rem
}

.editFormButtons {
    font-family: "Lobster", cursive;
}


