.noResults {
    max-width: 80% !important
}

.errorMessage {
    font-size: 1.2em
}

.subHeader {
    font-family: "Lobster", cursive;
    font-size: 3em
}

.errBtn {
    font-family: "Lobster", cursive;
}