.synonymCardBody {
    display: flex;
    align-items: center;
    flex-direction: column
}

.synonymCardHeader {
    text-align: center
}

.sentence {
    text-align: center;
    font-size: 1.1em;
}

.synonymCard {
    width: 90% !important;
}

.synsButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    min-width: 80% !important;
    font-family: "Lobster", cursive
}

.synEdit-save {
    font-family: "Lobster", cursive
}

.synDrop {
    font-family: "Muli", sans-serif
}

.nextButton {
    font-family: "Lobster", cursive
}