.statsContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.statsBody {
    display: flex;
    flex-flow: row nowrap !important;
    justify-content: space-between !important
}

.statsCard {
    min-width: 80% !important;
}

small {
    font-size: .3rem !important
}

.discardStat {
    height: 15px;
    width: 15px;
    padding: 0px !important;
    font-size: .5rem !important
}




