.navBar {
    display: flex;
    flex-flow: row nowrap !important;
    width: 100%;
    justify-content: space-around !important
}

.NavList {
    list-style-type: none;
}

NavLink {
    font-weight: bolder
}